@use '../Vars.scss';

.MenuContainer {
  background-color: Vars.$col-bg-pause-sub;
  border: 5px solid Vars.$col-border-pause;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 500px;
  max-width: 80vw;
  max-height: 80vh;
}
