@use '../Vars.scss';

.NavButton {
  color: Vars.$col-text;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover, &:focus {
    // font-family: $font-bold;
    color: Vars.$col-text-hover;
  }

  &:disabled {
    color: Vars.$col-text-disabled;
  }
}
