# Editors
.idea/
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Dependencies
node_modules/

# System
.DS_Store
Thumbs.db
desktop.ini

# Neutralinojs
neutralino.js
bin/
dist/
.storage/
*.log
.tmp/
