# Editors
.idea/
.vs/
.vscode/

# Dependencies
node_modules/

# System
.DS_Store
Thumbs.db
desktop.ini

# Neutralinojs
neutralino.js
bin/
dist/
.storage/
*.log
.tmp/

# sass
.sass-cache/
*.css.map
*.sass.map
*.scss.map
