# Editors
.idea/
.vs/
.vscode/

# Dependencies
node_modules/

# System
.DS_Store
Thumbs.db
desktop.ini

# Binaries & builds
bin/
dist/
out/

# Temporary & logs
.tmp/
*.log

# Sass
.sass-cache/
*.css.map
*.sass.map
*.scss.map


# ADD MORE AS NEEDED
