@use '../Vars.scss';

#MainMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  line-height: normal;

  .MenuContent {
    justify-content: center;
    gap: 4rem;
  }

  .NavButton {
    font-size: 200%;
    padding: 0.5rem;
  }
}
