@import '../../Vars.scss';

.MenuContainer {
  background-color: $col-bg-pause-sub;
  border: 5px solid $col-border-pause;
  border-radius: 1rem;
  min-width: 30vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
