.MenuContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  min-width: inherit;
  min-height: 35vh;
  max-height: 50vh;
  flex-grow: 1;
  overflow-y: scroll;
}
