html, body, main, #screen {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkolivegreen;
}

#debug {
    background-color: rgba(128, 128, 128, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    width: 50vw;
    height: 50vh;
    z-index: 100;
    display: flex;
    flex-direction: row;
    visibility: hidden;
}

#debug section {
    width: 20vw;
}