@font-face {
    font-family: PixeloidMono;
    src: url(../font/PixeloidMono.ttf);
}
@font-face {
    font-family: Pixeloid;
    src: url(../font/PixeloidSans.ttf);
}
@font-face {
    font-family: PixeloidBold;
    src: url(../font/PixeloidSansBold.ttf);
}

html {
    font-family: Pixeloid, serif;
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url("../img/background.png");
}

h2 {
    font-family: PixeloidBold, serif;
    margin: 0;
}

p {
    margin: 0;
}

#error {
    color: red;
    background: lightgray;
    padding: 2rem;
    text-align: left;
    border: solid black 2px;
    border-radius: 1rem;
    font-style: italic;
    list-style: none;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 95vh;
}

input, button {
    font-family: PixeloidMono, serif;
}

#forms {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    width: 65vw;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 1rem;
    padding: 1rem;
    background: skyblue;
    box-shadow: 0 0 10px 0 deepskyblue;
}

form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;
}

form div label {
    padding-right: 1rem;
}

form:hover {
    box-shadow: 0 0 5px 5px deepskyblue;
}

/* media queries */
@media (max-width: 1200px) {
    #forms {
        height: 75vh;
        width: 75vw;
    }
}

@media (max-width: 1000px) {
    form {
        padding: 1.5rem;
    }
}

@media (max-height: 800px) {
    form {
        padding: 1.5rem;
    }
}

@media (max-width: 800px) {
    #error {
        padding: 1.5rem;
    }

    #forms {
        flex-direction: column;
        height: 75vh;
        width: 85vw;
    }
}

@media (max-width: 400px) {
    #error {
        padding: .5rem;
    }
    form {
        padding: .5rem;
    }
}

@media (max-width: 300px) {
    #forms {
        height: 75vh;
        width: 65vw;
    }
}