@import '../Vars.scss';

#PauseMenu {
  background-color: $col-bg-pause;
  color: $col-text-pause;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  line-height: normal;
}
