@import '../Vars.scss';

#pauseMenu {
  background-color: $col-bg-pause;
  color: $col-text-pause;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  line-height: normal;

  select,
  input[type='text'],
  input[type='number'],
  button {
    width: 12rem;
  }

  button {
    color: $col-text;
    background-color: transparent;
    // font-size: 130%;

    &:hover {
      font-family: $font-bold;
      color: $col-text-hover;
    }

    &:disabled {
      color: $col-text-disabled;
    }
  }

  section {
    background-color: $col-bg-pause-sub;
    border: 5px solid $col-border-pause;
    border-radius: 1rem;
    width: 30vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .menuHeader,
  .menuContent,
  .menuFooter {
    width: 30vw;
    display: flex;
    height: 5vh;
  }

  .menuHeader {
    border-bottom: 3px solid $col-border-pause;
    justify-content: center;
    margin: 0;

    button {
      border-top: none;
      border-left: none;
      border-right: 3px solid $col-border-pause;
      border-bottom: 3px solid $col-border-pause;

      &.active,
      &:active {
        border-bottom: none;
      }
    }

    .three button,
    .three h3 {
      width: 10vw;
    }

    .two button,
    .two h3 {
      width: 15vw;
      text-align: center;
    }
  }

  .menuHeaderMulti {
    justify-content: space-evenly;
    border: none;
  }

  .menuContent {
    flex-direction: column;
    justify-content: left;
    align-items: center;
    height: 35vh;

    button {
      width: initial;
    }

    div {
      width: 28vw;
      padding: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  #pause .menuContent button {
    margin: 0.6rem;
    font-size: 130%;
    border: none;
  }

  .menuVersion {
    font-size: 80%;
    width: 28vw;
    display: flex;
    justify-content: right;
  }

  .menuFooter {
    border-top: 3px solid $col-border-pause;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
      border: none;
    }
  }
}
