@import '../Vars.scss';

#Settings {
  .MenuContent {
    label {
      min-width: inherit;
      padding: 0 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    select,
    input[type='text'],
    input[type='number'] {
      width: 10vw;
    }

    .Blackout {
      background-color: $col-bg-pause;
      color: $col-text;
      font-family: $font-bold;
      font-size: x-large;
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 300;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
