@use '../Vars.scss';

#Stats {
  i {
    color: Vars.$col-text-hover;
  }

  ul {
    align-self: flex-start;

    li {
      line-height: 1.5;
      font-size: 130%;
      color: Vars.$col-text;
    }
  }
}
