@use 'Vars.scss';
@use 'Reset.scss';

html,
body {
  font-family: Vars.$font;
  background-image: url('../../textures/background.png');
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: Vars.$font-bold;
}

input, select, option, button {
  background-color: Vars.$col-bg-input;
  border-color: Vars.$col-border-input;
  color: Vars.$col-text;
}

button {
  border-style: outset;
  border-radius: 5px;

  &:hover, &:focus {
    background-color: Vars.$col-border-input;
  }
}

noscript {
  color: Vars.$col-text;
}

#MenuToggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
