@import '../Vars.scss';

#debugMenu {
  background-color: $col-bg-debug;
  color: $col-text-debug;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;

  section {
    flex-direction: column;
    justify-content: left;
    padding: 0.5rem;
    min-width: 20vw;
    border: 1px solid $col-border-debug;
  }

  div,
  label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  select,
  input[type='text'],
  input[type='number'],
  button {
    width: 10vw;
  }
}
