@use '../Vars.scss';

#EditorView {
  display: flex;

  label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;

    select {
      width: 100%;
    }
  }
}
